<!-- Passing an object of class with variables -->
<!-- <app-blog-post-tile [post]="blogPosts[0]"></app-blog-post-tile>  -->

<!-- A better way to print through loop -->
<!-- <app-blog-post-tile 
*ngFor="let post of blogPosts"
[post]="post"></app-blog-post-tile>  -->



<!-- With Paginator -->

<p><a href="#" (click)="expandAll()">Expand all</a></p>
<p><a href="#" (click)="favAll()">Favourite All</a></p>
<!-- <div *ngFor="let post of blogPosts[currentPage]"> -->
<app-blog-post-tile 
[showOnPress] = "show"
#tile
*ngFor="let post of blogPosts[currentPage]"
[post]="post"></app-blog-post-tile>
<!-- </div> -->

<!-- 
<app-blog-post-tile [post] = "blogPosts[0][0]" #tile></app-blog-post-tile> -->




<!-- <app-paginator [numberOfPages ]="blogPosts.length"></app-paginator> -->

<!-- When the event is emitted we are calling the updatePage function -->
<!-- events must be called within parenthesis -->
<app-paginator [numberOfPages]="blogPosts.length"  (pageNumberClick)="updatePage($event)"></app-paginator>