<!-- single quotes are added to pass as string -->
<div class="card" [ngClass]="{'fav': post.isFav}"> 
    <div class ="card-body">
        <!-- directive can also take inputs -->
        <h5 class="card-title" appHighlight color="green">{{post.title}}</h5>
        <!-- pipe is a feature which allows to pass values in your doub le curlies to a funcionction called trunkate -->
           <!-- post.summary is passed to a function called truncate and returs the funtion retur  -->
        
        
           <!-- <p class="card-text">{{post.summary | truncate: [30]}}</p> -->
           <p class="card-text" (click)="showFullSummary()">{{post.summary }}</p>
           <a htef="#" (click)="toggleFav()" class="btn btn-primary ">Favourite</a> 
           <a htef="#" class="btn btn-primary blog-btn">Read</a>
       
    </div>
</div>
